main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    font-size: 18px;
}

main .output{
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    padding: 0;
    margin: 2rem auto;
    border-radius: 30px;
    min-width: 300px;
    min-height: 850px;
}

.output.pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    position: relative;
    min-width: 400px;
}
.output.pokemon-card.fade-in{
    display: flex;
    animation: fade-in 3s;
}
.pokemon-card .pokedex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 75%;
    height: 100%;
    background: #f1f1f1;
    margin: 0 auto;
}

.pokedex-center .pokedex-screen{
    width: 100%;
    height: 200px;
    background: #f1f1f1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex-center tbody th{
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
}

.pokedex-sides{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background: red;
    position: absolute;
    border: 10px solid black;
}

.pokedex-sides.pokedex-top{
    top: 0;
    border-radius: 20px 20px 0 0;
}

.pokedex-sides.pokedex-bottom{
    bottom: 0;
    border-radius: 0 0 20px 20px;
    background: white;
}

.pokedex-top.animate-pokedex{
    animation: pokedex-slide-down 5s;
}

.pokedex-bottom.animate-pokedex{
    animation: pokedex-slide-up 5s;
}

.pokedex-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f1f1f1;
    position: absolute;
    z-index: 1;
    border: 10px solid black;
    bottom: -40px;
}

.pokedex-line{
    width: 100%;
    height: 5px;
    background: black;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
}

.pokedex-icon .mask{
    width: 50px;
    height: 50px;
    background: black;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokedex-icon .img-half {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    position: absolute;
}

.pokedex-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pokedex-icon .img-half.img-0, .pokedex-icon .img-half.img-1 {
    -webkit-mask-image: url(w3logo.png);
    mask-image: url(w3logo.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center; 
    mask-position: center;
}

  
.pokedex-icon .mask.img-full {
    -webkit-mask-image: url(./resources/imgs/ellipse.png);
    mask-image: url(./resources/imgs/ellipse.png);
    -webkit-mask-size: 100% 100%; 
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center; 
    mask-position: center;
    width: 100%;
    height: 100%; 
}

.pokedex-flash{
    width: 100%;
    height: 100%;
    background: yellow;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
}
.pokedex-flash.flash{
    animation: flash 2s;
}

/* 
    Keyframes
*/



@keyframes pokedex-slide-down {
    0% {
        top: 0%;
    }
    30% {
        top: 19%;
    }
    70% {
        top: 19%;
    }
    100% {
        top: 0%;
    }
}

@keyframes pokedex-slide-up {
    0% {
        bottom: 0%;
    }
    30% {
        bottom: 19%;
    }
    70% {
        bottom: 19%;
    }
    100% {
        bottom: 0%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
  }